{% extends 'diary/base.html' %}
{% load static %}

{% block main_area %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'diary/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'diary/css/home.css' %}" media="screen">
    <div class="container" style="height: 530px;">
        {% if post_list.exists %}
            <div class="group">
            {% if user.is_authenticated %}
                {% if user.is_active %}
                    <a class="btn btn-info btn-lg float-left" href="/post/create_new/" role="button">
                        <i class="fa-solid fa-plus fa-4x"></i>
                    </a>
                {% endif %}
            {% endif %}
            {% if user.is_authenticated %}
                {% for p in post_list %}
                    <a class="btn btn-info btn-lg float-left" href="{{ p.get_absolute_url }}" role="button">
                        <h4>{{ p.title }}</h4>
                        <h5>{{ p.content }}</h5>
                        <p>{{ p.created_at }}</p>
                    </a>
                {% endfor %}
            {% endif %}
            </div>
                {% else %}
                    {% if user.is_authenticated %}
                    {% if user.is_active %}
                        <a class="btn btn-info btn-lg float-left" href="/post/create_new/" role="button">
                            <i class="fa-solid fa-plus fa-4x"></i>
                        </a>
                    {% endif %}
                    {% endif %}
                    <h3>아직 게시물이 없습니다.</h3>
                {% endif %}
    </div>
{% endblock %}