{% extends 'diary/base.html' %}
{% load static %}

{% block main_area %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'diary/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'diary/css/post_detail.css' %}" media="screen">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1 class="mt-4">{{ post.title }}</h1>
                <p id="created">{{ post.created_at }}</p>
                {% if user.is_authenticated and user == post.author %}
                    <a class="btn btn-info btn-sm float-right" href="/post/update_post/{{ post.pk }}/" role="button">
                        <i class="fa-solid fa-pen">  수정</i>
                    </a>
                {% endif %}
                <hr/>
                <a id="content">{{ post.content }}</a>
                <hr/>
            </div>
        </div>
        <form action="{% url 'diary:report' pk=post.pk %}" method="post" class="d-grid gap-2 col-6 mx-auto" id="reportForm">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" id="reportButton">리포트 보기</button>
        </form>
        <div class="spinner-overlay" id="overlay"></div>
        <div class="spinner-container" id="spinner">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('reportForm').addEventListener('submit', function(event) {
            event.preventDefault(); // 기본 폼 제출 동작 중지
            document.getElementById('spinner').classList.add('active'); // 스피너 활성화
            document.getElementById('overlay').classList.add('active'); // 페이지 다른 액션 비활성화
            document.body.style.overflow = 'hidden'; // 스크롤 비활성화
            setTimeout(function() {
                document.getElementById('reportForm').submit(); // 폼 제출
            }, 1000); // 원하는 시간(ms)만큼 스피너 활성화
        });

        window.addEventListener('load', function() {
            document.getElementById('spinner').classList.remove('active'); // 로딩 완료 시 스피너 비활성화
            document.getElementById('overlay').classList.remove('active'); // 페이지 다른 액션 활성화
            document.body.style.overflow = 'auto'; // 스크롤 활성화
        });
    </script>
{% endblock %}