{% extends 'diary/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block main_area %}
    <link rel="stylesheet" href="{% static 'accounts/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}" media="screen">

    <div class="container text-center">
        <h2>{{ user.username }}의 profile</h2>
    <hr/>
        <form action="{% url 'accounts:update' %}" method="post">
            {% csrf_token %}
            <div class="d-grid gap-2 col-8 mx-auto">
                <button class="btn btn-primary" type="submit">프로필 수정</button>
            </div>
        </form>
        <div class="group">
            {% if post.exists %}
                <a class="btn btn-info btn-lg float-right" href="/post/" role="button">
                    <h4>작성한 일기</h4>
                    <p>{{ post_count }}</p>
                </a>
            {% endif %}
            <a class="btn btn-info btn-lg float-left" href="{% url 'diary:playlist' %}" role="button">
                <h5>음악<br/>히스토리</h5>
            </a>
        </div>
        <form action="{% url 'accounts:delete' %}" method="post">
            {% csrf_token %}
            <div class="d-grid gap-2 col-8 mx-auto" id="quit">
                <button class="btn btn-primary" type="submit">회원 탈퇴</button>
            </div>
        </form>
    </div>

{% endblock %}