@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap&family=DM+Serif+Display:ital@1&family=IBM+Plex+Sans+KR:wght@200&family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital@1&display=swap');

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: #fffef8;
}

img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: block;
}

div {
    text-align: center;
    margin-bottom: 150px;
}

div p {
    color: #373232;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 60px;
}

div h5 {
    color: #1D0F5B;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 25px;
    font-weight: bolder;
}
/* 모바일 */
@media (max-width: 576px) {
    a.btn.btn-info.btn-lg.float-left {
        /* 여기에 스마트폰 크기에 맞는 스타일을 추가하세요 */
        width: 100%; /* 예시 */
    }

}

/* 태블릿 사이즈에 대한 스타일 */
@media (min-width: 577px) and (max-width: 768px) {
    a.btn.btn-info.btn-lg.float-left {
        /* 태블릿 크기에 맞는 스타일을 추가하세요 */
    }

}

/* 데스크탑 사이즈에 대한 스타일 */
@media (min-width: 769px) {
    a.btn.btn-info.btn-lg.float-left {
        /* 데스크탑 크기에 맞는 스타일을 추가하세요 */
    }

}